langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-groq

ipykernel

python-dotenv

arxiv 
wikipedia
feedparser

# Debugger dans LangSmith Cloud
langgraph-cli==0.4.28
langgraph-api==0.10.0
langgraph-runtime-inmem==0.30.0

# Vector db
faiss-cpu